.info-section{
    text-align: center;
}

.info-section img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-section h1{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.info-section h3{
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    color: #F3BF99;
}

.info-section p{
    font-size: 12px;
}

.btn{
    width: 115px;
    height: 34px;
    background: #fff;
    border: 1px solid #D1D5DB;
    border-radius: 6px;
    margin: 0 0.4rem;
    font-size: 14px;
    font-weight: 500;
}

.secondary{
    background: #5093E2;
    color: #fff;
    border: 1px solid #5093E2;
}